<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friendly - admin</title>
</head>
<body>
    <section>
        <!-- REGISTRA USUÁRIO. -->
         <h2>YES BROOH</h2>

        <form action="" method="POST">
            <h5>nome: </h5><input type="text" name="nomeForm" id="" placeholder="nome"><br>
            <h5>senha: </h5><input type="text" name="senhaForm" id="" placeholder="senha"><br>
            <h5>cargo: </h5><select name="cargoForm" id="">
                <option value="student">Estudante</option>
                <option value="teacher">Professor</option>
            </select>
            <button type="submit">Cadastrar</button>
        </form>
    </section>
</body>
</html>